*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Candara', sans-serif;
    }

body{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar {
    display: none;
}
    /* navigation */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: #f08080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.secret {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.date {
    font-size: 30px;
    color: #fff;
    font: bolder;
    text-align: center;
    margin: 0 auto;
    display: flex;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}   

h3 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 21%;
        border: 1px transparent;
        padding: 10px;
        text-align: center;
        font-size: 36px;
}

.img-gallery{
    width: 80%;
    margin:120px auto 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.img-gallery img{
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.img-gallery img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68,77,136, 0.2);
}

.full-img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}

.full-img span{
    position: absolute;
    top: 20%;
    right: 15%;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}